.cardWrapper {
    position: absolute;
    top: 105%;
    left: 4%;
    width: 90%;
    max-width: 320px;
    background-color: #fff;
    height: max-content;
    border: 1px solid #e9e9e9;
    border-radius: 16px;
    padding: 32px;
    font-size: 18px;
    transition: all 0.3s ease-out;
    opacity: 0;
    visibility: hidden; 
}

.cardWrapper.show{
    opacity: 1;
    visibility: visible;
}

.cardLinks ul {
    list-style: none;
    padding-bottom: 32px;
}

.cardLinks ul li {
    position: relative;
    padding: 4px;
}

.border {
    width: 100%;
    margin: 0 auto;
    background-color: #e9e9e9;
    height: 1px;
}

.call {
    font-weight: 700;
    color: black;
}

.talkToHuman {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    font-size: 0.84em;
}

.cardActions {
    display: flex;
    flex-direction: column;
    font-size: 0.84em;
    row-gap: 10px;
    margin-top: 10px;
}

.actionText {
    color: black;
    padding-right: 5px;
}

.btnGrey {
    background-color: #2121210d;
    color: #212121;
}

.btnGrey:hover{
    background-color: #2121211f;
}

.btnYellow {
    background-color: #ffd94f;
    color: #212121;
}

.btnYellow:hover {
    background-color: #fdd33c;
    color: #212121;
}

.cardLinks ul li::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    background-image: url(/icons/right-arrow.png);
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.3s;
}

.cardLinks ul li:hover{
    color: black;
    cursor: pointer;
    font-weight: 500;
}

.cardLinks ul li:hover::after {
    opacity: 1;
}

.bgWhite{
    background-color: white;    
}

@media screen and (max-width: 768px) {
    .cardWrapper {
        top: 100%;
        left: 0;
        width: 100%;
        max-width: 100%;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}