.header {
    position: fixed;
    width: 100vw;
    /* background-color: #ffd94f; */
    background-color: transparent;
    color: #212121b3;
    top: 0;
    transition: top 0.5s;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 16px;
    transition: background-color 0.4s ease, top 0.4s ease;
}

.navWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    min-height: 90px;
}

.navLinksWrapper {
    flex: 1;
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
}

.linkItems {
    list-style: none;
    display: flex;
}

.linkItems li a {
    padding: 10px;
    display: flex;
    align-items: center;
    min-height: 48px;
    line-height: 0.5;
    text-align: center;
}

.navRightLinksWrapper .linkItems li a svg {
    padding-left: 2px;
}

.linkItems li a:hover {
    color: #000000;
}

.menuIcon {
    display: none;
    cursor: pointer;
}

.navBrand {
    display: flex;
    align-items: center;
    color: black
}

.navLeftLinksWrapper {
    transition: all 0.5 ease;
}

.navBrandLogo {
    max-width: 100px;
}

.navRightLinksWrapper .linkText {
    margin-right: 5px;
}

.forSmallLinkText {
    display: none;
}

.signInItem a {
    border-radius: 50px;
    padding: 0 14px !important;
    background-color: #2121210d;
    color: black;
    margin-left: 10px;
    font-size: 0.9em;
    font-weight: 500;
    min-height: 46px;
}

.signInItem a .linkText {
    margin-right: 0;
}

.header.movedToTop {
    top: -90px !important;
}

.header.bgWhite {
    background-color: white;
}

.noScroll {
    overflow: hidden;
}

.linkItems li a:hover {
    position: relative;
}

.linkItems li a:hover+.hoverCard, .hoverCard:hover {
    display: block;
}

.hoverCard {
    position: absolute;
    display: none;
    max-width: 280px;
}

@media screen and (max-width: 1024px) {
    .show {
        display: block;
    }

    .hide {
        display: none;
    }

    .navLeftLinksWrapper {
        display: none;
    }

    .navLeftLinksWrapper .linkItems {
        flex-direction: column;
        background-color: #fff;
    }

    .navLeftLinksWrapper .linkItems li {
        padding: 15px 10px;
    }

    .navLinksWrapper {
        justify-content: end;
    }

    .menuIcon {
        display: block;
    }

    .navBrand .navBrandLogo {
        padding-left: 10px;
    }

}

@media screen and (max-width: 768px) {
    .header.bgWhite {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .header.movedToTop {
        top: 0;
    }

    .signInItem {
        display: none;
    }

    .navRightLinksWrapper .linkItems li a {
        border-radius: 50px;
        padding: 0 14px;
        background-color: #2121210d;
        color: black;
        margin-left: 10px;
        font-size: 0.8em;
        font-weight: 500;
        min-height: 46px;
    }
}

@media screen and (max-width: 425px) {
    .navBrandLogo {
        width: 90px;
    }

    .navWrapper {
        min-height: 60px;
    }
}