.button{
    width: 100%;
    padding: 0.6rem 0.8rem;
    color: inherit;
    background-color: inherit;
    border: 1px solid var(--border-intial-color);
    border-radius: var(--border-radius);
    font-size: 0.9em;
    font-weight: 500;
    min-height: 44px;
    cursor: pointer;
}
.button:hover{
    color: #000000;
}

.button.iconButton{
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconWrapper{
    height: 20px;
}
.iconWrapper svg{
    width: 20px;
    height: 100%;
}

.btnNormal{
    color: inherit;
    background-color: inherit;
    border-width: 0px;
}

.btnYellow{
    background-color: var(--main-bg-color);
    color: var(--text-black-theme);
    border-width: 0px;
}

.btnYellow:hover{
    background-color: var(--main-bg-color-hover);
}

.btnGrey{
    background-color: var(--grey-bg-color);
    color: var(--text-black-theme);
    border-width: 0px;
}

.btnGrey:hover{
    background-color: var(--grey-bg-color-hover);
}

.aftertext{
    margin-right: 0.35rem;
}

.beforetext{
    margin-left: 0.35rem;
}